{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron my-3">
    <h1 class="display-6">Welcome to Online Question Paper Generator</h1>
    <p class="lead">The Question Paper Generator system automatically generates paper, prepares doc file as per selected paper format.</p>
    <hr class="my-4">
    <div class="card">
      <h5 class="card-header">Features: </h5>
      <div class="card-body">
        <!--<h5 class="card-title">Special title treatment</h5>-->
        <ul>
          <li>In today’s world, time is a major concern. Any product that can effectively reduce time and power consumption is
            accepted and appreciated.
          </li><br>
          <li>
            Thus we are presenting an Automated Question Paper Generator System that can reduce time consumption by replacing
            the conventional method of question paper generation system.
          </li><br>
          <li>
            It also needs lesser man power. We have implemented a role-based hierarchy which restricts access to the users. The
            system also deploys security mechanisms that prohibit duplication of question papers.
          </li><br>
          <li>
            There are provisions to enter and edit data suitable to any educational organization with complete freedom for
            specifying courses, semesters, syllabus and pattern.
          </li><br>
        </ul>
        <a href="#" class="btn btn-primary">Explore More about Online question Paper Generator</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}